################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHub_Project_01/.vs/GitHub_Project_01/v16/Server/sqlite3/db.lock
